#root {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding-block: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.react-plus {
  color: #61DBFB;
}

.menu {
  height: auto;
  margin: 0 auto 1em auto;
}

.menu > button {
  min-width: 17em;
  width: 30%;
  max-width: 25em;
}

.menu-dropdown {
  display: grid;
  gap: 1em;
  padding-block: 1em;
  max-width: 700px;
  margin: 0 auto;
}

.menu-dropdown.testimonial {
  max-width: none;
}

.button-grid {
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
}

.button-default {
  background: #F3F4F6;
  color: #1F2937;
  padding: 2px 12px;
  font-size: 14px;
  line-height: 20px;
}

.button-square {
  border-radius: 4px;
}

.button-pill {
  border-radius: 12px;
}

.button-red, .banner-error {
  background: #FEE2E2;
  color: #991B1B;
}

.banner-error svg {
  fill: #F87171;
}

.button-yellow, .banner-warning {
  background: #FEF3C7;
  color: #92400E;
}

.banner-warning svg {
  fill: #FBBF24;
}

.button-green, .banner-success {
  background: #D1FAE5;
  color: #065F46;
}

.banner-success svg {
  fill: #34D399;
}

.button-blue, .banner-update {
  background: #DBEAFE;
  color: #1E40AF;
}

.banner-update svg {
  fill: #60A5FA;
}

.button-indigo {
  background: #FEF3C7;
  color: #92400E;
}

.button-purple {
  background: #EDE9FE;
  color: #5B21B6;
}

.button-pink {
  background: #FCE7F3;
  color: #9D174D;
}

.banner {
  min-height: 1.25em;
  padding: 1em;
  border-radius: 6px;
  font-size: .8rem;
}

.banner h4 {
  margin: 0;
  padding: 0;
  line-height: 1.375;
  display: flex;
  align-items: center;
  gap: 0.75em;
}
.banner p {
  margin: 0;
  padding-left: 1.75em;
  text-align: left;
}

.testimonial--no-pic {
  color: #111827;
  background-color: #F9FAFB;
  width: 100%;
  height: 25em;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2em;
  position: relative;
  z-index: 1;
}

.testimonial--no-pic::before {
  content: "";
  position: absolute;
  background-image: url("./assets/testimonial-pattern.svg");
  width: 55%;
  height: 9.5em;
  background-size: cover;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.testimonial--no-pic > img {
  align-self: center;
}

.testimonial--no-pic div p,
.testimonial--info div p {
  font-size: 1rem;
  line-height: 1.5;
}

.testimonial--no-pic p {
  max-width: 690px;
}

.testimonial--no-pic div span {
  display: none;
}

.testimonial--with-pic {
  color: #FFF;
  background: transparent;
  width: 100%;
  height: 37em;
  line-height: 1.6em;
  padding-block: 3em;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

.testimonial--with-pic::before {
  content: "";
  position: absolute;
  background: #2545B8;
  height: 80%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.testimonial--headshot {
  width: 280px;
  height: 200px;
  border-radius: 12px;
}

.testimonial--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 600px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
}


/* Media  Queries */

@media(min-width: 520px){
  .testimonial--no-pic {
    align-items: center;
    text-align: center;
    height: 18em;
  }

  .testimonial--no-pic::before {
    width: 30%;
  }

  .testimonial--no-pic div {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .testimonial--no-pic div span {
    display: block;
    color: #2E59F3;
    font-weight: bold;
  }
}

@media(min-width: 1200px){
  .testimonial--with-pic {
    flex-direction: row;
    justify-content: center;
  }

  .testimonial--with-pic::before {
    height: 60%;
    bottom: auto;
  }

  .testimonial--headshot {
    width: 300px;
    height: 410px;
  }

  .testimonial--info {
    align-items: flex-start;
    text-align: left;
  }

  .testimonial--no-pic::before {
    width: 18%;
    height: 65%;
  }
}